extends layout

block content

  h2 this is add page
  br
  
  form.form-login(action='add', method='post')
    label(for='name') animal
    input(type='text', name='name')
    br
    br
    label(for='diet') eats what
    input(type='text', name='diet')
    br
    br
    input(type='submit', name='', value='click for post')


    if this_is_post
      p thanks for clicking    
