doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    
    .menu
      a(href='/') home
      a(href='/add') add
      a(href='/another_page') another_page
    block content
